In [39]:
import pandas as pd

width = [3,5,2,3,1,1,3,2,3,2,1,1,4,1,1,2,2,5,2,1,1,1,4,4,4,6,6,3,1,1,1,1,1,47,3,3,10]
headerList = ['Centre-Round_1','FSU Serial No._1','Round_1','Schedule_1','Sample_1','Sector_1','NSS-Region_1','District_1','Stratum_1','Sub-stratum_1','Sub-Round_1','Sub-sample_1','FOD-Sub-Region_1','Hamlet group-Sub-block no._1','Second-stage-stratum no._1','Sample hhld. No._1','Level_1','Filler_1','Informant Sl.No._1','Response Code_1','Survey Code_1','Substitution Code-Casualty code_1','Employee code_1','Employee code_1','Employee code_1','Date of Survey_1','Date of Despatch_1','Time to canvass (minutes)_1','No. of investigators (FI/ ASO) in the team_1','Remarks in block 12/ 13_1','Remarks in block 12/ 13_1','Remarks elsewhere in Sch._1','Remarks elsewhere in Sch._1','Blank_1','NSS_1','NSC_1','MLT_1']
#df1 = pd.read_fwf('R71250L01.txt', colspecs=colSplit, names=headerList, dtype=str)
df1 = pd.read_fwf('R71250L01.txt', widths=width, names=headerList, converters={h: str for h in headerList})
df1

,Centre-Round_1,FSU Serial No._1,Round_1,Schedule_1,Sample_1,Sector_1,NSS-Region_1,District_1,Stratum_1,Sub-stratum_1,...,Time to canvass (minutes)_1,No. of investigators (FI/ ASO) in the team_1,Remarks in block 12/ 13_1,Remarks in block 12/ 13_1,Remarks elsewhere in Sch._1,Remarks elsewhere in Sch._1,Blank_1,NSS_1,NSC_1,MLT_1
0,000,37773,71,250,1,1,012,05,005,01,...,110,2,2,2,2,2,NaN,1,2,123126
1,000,37773,71,250,1,1,012,05,005,01,...,160,2,2,2,2,2,NaN,1,2,20521
2,000,37773,71,250,1,1,012,05,005,01,...,180,2,2,2,2,2,NaN,1,2,20521
3,000,37773,71,250,1,1,012,05,005,01,...,70,2,2,2,2,2,NaN,1,2,506185
4,000,37773,71,250,1,1,012,05,005,01,...,100,2,2,2,2,2,NaN,1,2,273614
5,000,37773,71,250,1,1,012,05,005,01,...,165,2,2,2,2,2,NaN,1,2,102605
6,000,37773,71,250,1,1,012,05,005,01,...,170,2,2,2,2,2,NaN,1,2,102605
7,000,37773,71,250,1,1,012,05,005,01,...,90,2,2,2,2,2,NaN,1,2,2257313
8,000,37771,71,250,1,1,012,05,005,02,...,125,2,2,2,2,2,NaN,1,2,5913
9,000,37771,71,250,1,1,012,05,005,02,...,120,2,2,2,2,2,NaN,1,2,11825
10,000,37771,71,250,1,1,012,05,005,02,...,125,2,2,2,2,2,NaN,1,2,11825
11,000,37771,71,250,1,1,012,05,005,02,...,120,2,2,2,2,2,NaN,1,2,307454
12,000,37771,71,250,1,1,012,05,005,02,...,140,2,2,2,2,2,NaN,1,2,886888
13,000,37771,71,250,1,1,012,05,005,02,...,145,2,2,2,2,2,NaN,1,2,266066
14,000,37771,71,250,1,1,012,05,005,02,...,130,2,2,2,2,2,NaN,1,2,266066
15,000,37771,71,250,1,1,012,05,005,02,...,110,2,2,2,2,2,NaN,1,2,3370174
16,000,37775,71,250,1,1,012,06,006,01,...,100,2,2,2,2,2,NaN,1,2,118873
17,000,37775,71,250,1,1,012,06,006,01,...,100,2,2,2,2,2,NaN,1,2,69343
18,000,37775,71,250,1,1,012,06,006,01,...,100,2,2,2,2,2,NaN,1,2,69343
19,000,37775,71,250,1,1,012,06,006,01,...,115,2,2,2,2,2,NaN,1,2,851923
20,000,37775,71,250,1,1,012,06,006,01,...,120,2,2,2,2,2,NaN,1,2,495304
21,000,37775,71,250,1,1,012,06,006,01,...,140,2,2,2,2,2,NaN,1,2,346713
22,000,37775,71,250,1,1,012,06,006,01,...,130,2,2,2,2,2,NaN,1,2,346713
23,000,37775,71,250,1,1,012,06,006,01,...,60,2,2,2,2,2,NaN,1,2,4655859
24,000,37776,71,250,1,1,012,06,006,02,...,140,2,2,2,2,2,NaN,1,2,81802
25,000,37776,71,250,1,1,012,06,006,02,...,140,2,2,2,2,2,NaN,1,2,11361
26,000,37776,71,250,1,1,012,06,006,02,...,135,2,2,2,2,2,NaN,1,2,11361
27,000,37776,71,250,1,1,012,06,006,02,...,145,2,2,2,2,2,NaN,1,2,11361
28,000,37776,71,250,1,1,012,06,006,02,...,130,2,2,2,2,2,NaN,1,2,11361
29,000,37776,71,250,1,1,012,06,006,02,...,80,2,2,2,2,2,NaN,1,2,390833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65902,000,16210,71,250,1,2,351,03,004,01,...,50,1,2,2,2,2,NaN,1,2,24761
65903,000,16210,71,250,1,2,351,03,004,01,...,140,1,2,2,2,2,NaN,1,2,24761
65904,000,16210,71,250,1,2,351,03,004,01,...,130,1,2,2,2,2,NaN,1,2,24761
65905,000,16210,71,250,1,2,351,03,004,01,...,140,1,2,2,2,2,NaN,1,2,24761
65906,000,16210,71,250,1,2,351,03,004,01,...,30,1,2,2,2,2,NaN,1,2,282978
65907,000,16210,71,250,1,2,351,03,004,01,...,120,1,2,2,2,2,NaN,1,2,282978
65908,000,16257,71,250,1,2,351,03,004,02,...,115,1,2,2,2,2,NaN,1,2,13656
65909,000,16257,71,250,1,2,351,03,004,02,...,130,1,2,2,2,2,NaN,1,2,13656
65910,000,16257,71,250,1,2,351,03,004,02,...,90,1,2,2,2,2,NaN,1,2,11705
65911,000,16257,71,250,1,2,351,03,004,02,...,60,1,2,2,2,2,NaN,1,2,11705
65912,000,16257,71,250,1,2,351,03,004,02,...,80,1,2,2,2,2,NaN,1,2,11705
65913,000,16257,71,250,1,2,351,03,004,02,...,130,1,2,2,2,2,NaN,1,2,11705
65914,000,16257,71,250,1,2,351,03,004,02,...,90,1,2,2,2,2,NaN,1,2,222404
65915,000,16257,71,250,1,2,351,03,004,02,...,125,1,2,2,2,2,NaN,1,2,222404
65916,000,16253,71,250,1,2,351,03,004,03,...,130,1,2,2,2,2,NaN,1,2,12210
65917,000,16253,71,250,1,2,351,03,004,03,...,130,1,2,2,2,2,NaN,1,2,12210
65918,000,16253,71,250,1,2,351,03,004,03,...,90,1,2,2,2,2,NaN,1,2,21804
65919,000,16253,71,250,1,2,351,03,004,03,...,75,1,2,2,2,2,NaN,1,2,21804
65920,000,16253,71,250,1,2,351,03,004,03,...,80,1,2,2,2,2,NaN,1,2,21804
65921,000,16253,71,250,1,2,351,03,004,03,...,80,1,2,2,2,2,NaN,1,2,21804
65922,000,16253,71,250,1,2,351,03,004,03,...,125,1,2,2,2,2,NaN,1,2,535498
65923,000,16253,71,250,1,2,351,03,004,03,...,110,1,2,2,2,2,NaN,1,2,535498
65924,000,16251,71,250,1,2,351,03,004,04,...,140,1,2,2,2,2,NaN,1,2,12967
65925,000,16251,71,250,1,2,351,03,004,04,...,120,1,2,2,2,2,NaN,1,2,12967
65926,000,16251,71,250,1,2,351,03,004,04,...,140,1,2,2,2,2,NaN,1,2,18010
65927,000,16251,71,250,1,2,351,03,004,04,...,105,1,2,2,2,2,NaN,1,2,18010
65928,000,16251,71,250,1,2,351,03,004,04,...,95,1,2,2,2,2,NaN,1,2,18010
65929,000,16251,71,250,1,2,351,03,004,04,...,95,1,2,2,2,2,NaN,1,2,18010
65930,000,16251,71,250,1,2,351,03,004,04,...,100,1,2,2,2,2,NaN,1,2,250697
65931,000,16251,71,250,1,2,351,03,004,04,...,100,1,2,2,2,2,NaN,1,2,250697

In [38]:
df1['Level'].describe()

count     65932
unique        1
top          01
freq      65932
Name: Level, dtype: object

In [43]:
headerList2 = ['Common-ID_2','Level_2','Filler_2','Household size_2','NIC-2008 five digit code_2','NCO-2004 three digit code_2','Household type_2','Religion_2','Social group _2','Type of latrine_2','Type of drainage_2','Major source of drinking water_2','Primary source of energy for cooking_2','Amount of medical insurance premium (Rs.)_2','Household usual consumer expenditure (Rs.)_2','Blank_2','NSS_2','NSC_2','MLT_2']
headerList3 = ['Common-ID_3','Level_3','Filler_3','Person serial no_3','Sex_3','Age at death_3','Whether medical attention received before death_3','Whether hospitalised_3','"If 1 in col. 6_3','Whether pregnant any time during last 365 days_3','"If 1 in col. 8_3','Blank_3','NSS_3','NSC_3','MLT_3']
headerList4 = ['Common-ID_4','Level_4','Filler_4','Person serial no_4','Relation to head_4','Sex_4','Age_4','Marital status_4','General education_4','Whether resident of students' hostel_4','During last 365 days-whether hopitalised _4','"If 1 in col. 9_4','Whether suffering from any chronic ailment_4','Whether suffering from any other ailment in last 15 days_4','Whether suffering from any other ailment on the day before date of survey_4','Whether covered by any scheme for health expenditure support_4','Reporting of col. 11 to 13_4','Blank_4','NSS_4','NSC_4','MLT_4']
headerList5 = ['Common-ID_5','Level_5','Filler_5','Srl. no. of hospitalisation case_5','"Srl. no. of member hospitalised (as in col. 1_5','"Age (as in col. 5_5','Nature of ailment_5','Nature of treatment_5','Level of care_5','Type of ward_5','When admitted_5','When discharged_5','Duration of stay in hospital (days)_5','Surgery_5','Medicine_5','X-ray/ ECG/ EEG/ Scan_5','Other diagnostic tests_5','Treated before hospitalisation_5','"If 1 in item 15_5','"If 1 in item 15_5','"If 1 in item 15_5','Treatment continued after discharge?_5','"If 1 in item 19_5','"If 1 in item 19_5','"If 1 in item 19_5','Blank_5','NSS_5','NSC_5','MLT_5']
headerList6 = ['Common-ID_6','Level_6','Filler_6','"Srl. no. of hospitalisation case (as in item 1_6','"Srl. no. of member hospitalised (as in item 2_6','"Age (as in item 3_6','Whether any medical advice provided free_6','Package component (Rs.)_6','Doctor's/ surgeon's fee (Rs.)_6','Medicines (Rs.)_6','Diagonistic tests (Rs.)_6','Bed charges (Rs.)_6','Other medical expenses (Rs.)_6','Medical expenditure (Rs.): total (items 5 to 10)_6','Transport for patient (Rs.)_6','Other non-medical expenses (Rs.)_6','Expenditure (Rs.): Total (items 11 to 13)_6','Total amount reimbursed by medical insurance (Rs.)_6','Major source of finance_6','2nd most important source_6','Place of hospitalisation (state code)_6','NSS_6','NSC_6','MLT_6']
headerList7 = ['Common-ID_7','Level_7','Filler_7','Srl. no. of spell of ailment_7','"Srl. no. of member reporting ailment (as in col. 1_7','"Age (as in col. 5_7','No. of days within the ref. period - ill_7','No. of days within the ref. period - on restricted activity_7','No. of days within the ref. period - confined to bed_7','Nature of ailment_7','Whether chornic_7','Status of ailment_7','Total duration of ailment (days)_7','Nature of treatment_7','Whether hospitalised_7','Whether treatment taken on medical advice_7','Level of care_7','Reason for not availing Govt. sources_7','Reason for not seeking medical advice_7','Whom consulted_7','Loss of household income (Rs.)_7','Blank_7','NSS_7','NSC_7','MLT_7']
headerList8 = ['Common-ID_8','Level_8','Filler_8','"Srl. no. of ailing member (as in item 2_8','"Age (as in item 3_8','Whether any medical advice provided free_8','Surgery_8','Medicine received (AYUSH)_8','Medicine received other than AYUSH_8','X-ray/ ECG/ EEG/ Scan_8','Other diagnostic tests_8','Doctor's/ surgeon's fee (Rs.)_8','Medicines (Rs.): AYUSH_8','Medicines (Rs.): Other than AYUSH_8','Diagonistic tests (Rs.)_8','Other medical expenses (Rs.)_8','Medical expenditure (Rs.): total (items 9 to 13)_8','Transport for patient (Rs.)_8','Other non-medical expenses (Rs.)_8','Expenditure (Rs.): Total (items 14 to 16)_8','Total amount reimbursed by medical insurance (Rs.)_8','Major source of finance_8','2nd most important source_8','Place of treatment (state code)_8','Blank_8','NSS_8','NSC_8','MLT_8']
headerList9 = ['Common-ID_9','Level_9','Filler_9','"Srl. no. of  member (as in col. 1_9','"Age (as in col. 5_9','No. of sons living_9','No. of daughters living_9','State of economic independence_9','No. of Dependents_9','Person financially supporting aged person_9','Living arrangement_9','Physical mobility_9','Person helping_9','Own perception-current state of health_9','Own perception- change in state of health_9','Blank_9','NSS_9','NSC_9','MLT_9']
headerList10 = ['Common-ID_10','Level_10','Filler_10','Srl. no. of  member (as in bl. 4/ 5)_10','Age (as in bl. 4/ 5)_10','Whether pregnant any time in last 365 days_10','Srl. no. of pregnancy_10','Whether received tetanus vaccine_10','Whether taken IFA during pregnancy_10','Whether any other prenatal care received_10','Nature of prenatal care_10','Total expenditure incurred on pre natal care (Rs.)_10','Outcome of pregnancy_10','Place of delivery / abortion_10','Whether any post natal care received_10','Nature of post natal care _10','Expenditure incurred on post natal care (Rs.)_10','Blank_10','NSS_10','NSC_10','MLT_10']

width2 = ['35','2','5','2','5','3','1','1','1','1','1','1','2','8','8','50','3','3','10']
width3 = ['35','2','3','2','1','3','1','1','7','1','9','74','3','3','10']
width4 = ['35','2','3','2','1','1','3','1','2','1','1','10','1','1','1','1','1','67','3','3','10']
width5 = ['35','2','1','2','All','3','2','1','1','1','1','1','5','1','1','1','1','1','All','All','All','1','All','All','All','49','3','3','10']
width6 = ['35','2','1','All','All','All','1','7','7','7','6','7','7','7','6','7','8','7','1','1','2','3','3','10']
width7 = ['35','2','1','2','All','3','2','2','2','2','1','1','5','1','1','1','1','1','1','1','8','51','3','3','10']
width8 = ['35','2','3','All','All','1','1','1','1','1','1','7','6','7','6','7','8','6','7','8','7','1','1','2','2','3','3','10']
width9 = ['35','2','3','All','All','2','2','1','2','1','1','1','1','1','1','68','3','3','10']
width10 = ['35','2','3','2','3','1','1','1','1','1','1','8','1','1','1','1','8','55','3','3','10']

SyntaxError: invalid syntax (<ipython-input-43-c7d5ea328a38>, line 3)